.container {
    background-color: #15202B;
    display: flex;
    flex-direction: column;
    width: 25vw;
    color: white;
    height: 100vh;
    justify-content: space-between;
    padding: 30px;
    }

    .logout{
        border-radius: 60px;
        padding: 4px 8px;
        cursor: pointer;
        background-color: transparent;
        color: white;
        font-weight: 600;
        border-style: hidden;
        padding-right: 15px;
        padding-left: 15px;
        font-size: 12px;
        border: 1px solid white;
    }

 .logo{
   padding: 10px;
    }

    .profil{
    display: flex;
    padding: 15px;
    }

    .names{
        margin-left: 12px;

    }

.username {
    font-size: 15px;
    color: #728394;
}

.firstname {
    font-size: 20px;
    font-weight: 800;
}