.container {
    display: flex;
    flex-direction: row;
    width: 25vw,
    }

    .logout {
        border-radius: 50px;
        padding: 10px 98px;
        cursor: pointer;
        background-color: #0E2229;
        color: #ffffff;
        border-style: hidden;
        border: 1px solid white;
        font-weight: 600;
        }

 .logo{
   padding: 10px;
    }