.container {
    color: white;
    display: flex;
    flex-direction: row;
    width: 35vw,
}

.trends {
    display: flex;
    font-size: 22px;
    font-weight: 700;
    margin: 20px
}

.hashtags {
display: flex;
flex-direction: row;

}

.h2 {
display:flex;
padding:30px;
font-size: 12px;   
}

.h3 {
    display:flex;
    padding:30px;
    font-size: 8px; 
}